{% extends 'layout.html.twig' %}

{% block content %}
    <p>Details {{ foo }}</p>
    {{ form_start(form) }}
    {{ form_widget(form.name) }}
    <input type="submit" />
    {{ form_end(form) }}
{% endblock %}
