<form method="post">
    <input type="text" name="title">
    <input type="text" name="year">
    <select name="id_director">
      <option value="1">J Cameron</option>
      <option value="2">Q. Dupieux</option>
    </select>
    <input type="submit" value="Valider">
</form>
