{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Movies</h1>
    <ul>
        {% for movie in movies %}
            <li><a href="/movie/{{ movie.id }}">{{ movie.id }}. {{ movie.title }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/movie/add">Ajouter un Film</a>
{% endblock %}
