{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Movies</h1>
    <ul>
        {% for director in directors %}
            <li><a href="/director/{{ director.id }}">{{ director.id }}. {{ director.name }}</a></li>
        {% else %}
            <li>Nothing to display</li>
        {% endfor %}
    </ul>
    <a href="/director/add">Ajouter un Film</a>
{% endblock %}
